.nav-page .container{
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.nav-page .container .sections{
    margin-bottom: 2%;
}

.nav-page .container .sections .section-holder{
    margin: 0;
    padding: 3% 7% 3% 7%;
}

.nav-page .container .subsections{

}

.devices-page .container{

}

.devices-page .container .devices-row{
    height: 32rem;
    max-height: 32rem;
}

.devices-page .container .devices-col{
    overflow-y: auto;
    height: 100%;
}

.devices-page .container .devices-col::-webkit-scrollbar {
    display: none;
}