.pane{
    display: flex;
    justify-content: center;
    height: 56px;
    padding: 8px 16px 8px 16px;
    background-color: #007bff;
}

.pane .element{
    display: flex;
    align-items: center
}

.pane .element .option{
    text-decoration: none;
    color: white;
}